.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.image-container {
    width: 50%;
    height: 100%;
    position: relative;
}

.text-container {
    width: 50%;
    text-align: left;
}

.title {
    font-size: 6rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}

.description {
    margin-top: 1rem;
    font-size: 1rem;
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.button {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: darkblue;
}

.button-text {
    margin-left: 1rem;
}